/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.preview-header {
	padding: 10px;
}

.preview-title {
	font-size: 19px;
}

.preview-dialog-btn {
	float: right;
	border: 0;
	cursor: pointer;
	background: transparent;
	-webkit-appearance: none;
}

a.preview-dialog-btn {
	padding: 1px 6px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.3;
	filter: alpha(opacity=20);
	
	&:hover , &:focus {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
}

button.preview-dialog-btn {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.3;
	filter: alpha(opacity=20);
	
	&:hover , &:focus {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
}

button.preview-close {
	font-size: 18px;
}

button.preview-print,
button.preview-maximize,
button.preview-minimize,
a.preview-download {
	margin-top: 3px;
}

button.preview-minimize {
	display: none;
}

.preview-body {
	padding: 0;
	min-height: 420px;
}


.modal.modal-fullscreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	
	.modal-dialog {
		position: fixed;
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.modal-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.modal-header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 50px;
	}

	.modal-body {
		position: absolute;
		top: 50px;
		bottom: 60px;
		width: 100%;
		font-weight: 300;
		overflow: auto;
	}

	.modal-footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 60px;
	}
}

