/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.o_binary_preview {
	border: 0;
	cursor: pointer;
	padding: 0 5px 0 2px;
	background: transparent;
	-webkit-appearance: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	&:hover , &:focus {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

