/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.oe_document_content {
	height: 100% !important;
}

.oe_document_container {
	height: 100% !important;
}

.oe_document_row {
	height: 100% !important;
}

.oe_document_col {
	padding: 0 !important;
}

.oe_document_preview {
	height: 100% !important;
}

.splitter_panel .vsplitter {
    width: 3px !important;
}

.oe_dms_searchview_info {
	cursor: default; 
    position: absolute; 
    top: 6px; 
    right: 7px; 
}