/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.muk_kanban_file {
    width: 150px;
    height: 100px;
    cursor: pointer;
    flex: 1 1 auto !important;
	-webkit-flex: 1 1 auto !important;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    
    .muk_image {
    	width: 70px;
    	height: 70px;
    	margin: auto;
    	position: relative;
    	
    	img {
    		width: 100%;
    		height: 100%;
    	}
		
		&:hover::before {
			top: 0;
			left: -40px;
			z-index: 99;
			width: 150px;
			height: 70px;
			opacity: 0.7;
			content: " ";
			position: absolute;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #cccccc;
			background-image: url('/muk_dms/static/src/img/eye.png');
		}

	}
    
    .muk_filename {
    	height: 18px;
    	overflow: hidden;
    	position: relative;
		white-space: nowrap;
    	text-overflow: ellipsis;
		
		&:hover::before {
			top: 0;
			left: 0;
			z-index: 99;
			width: 150px;
			height: 18px;
			opacity: 0.7;
			content: " ";
			position: absolute;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #cccccc;
			background-image: url('/muk_dms/static/src/img/arrow-right.png');
		}
	}
}

.muk_kanban_directory {
	
	.muk_thumbnail {
	    width: 90px;
		height: 90px;
		float: left;
	}
	
	.muk_info_panel {
		width: 310px;
		position: relative;
		padding-left: 95px;
		
		.muk_name {
		    font-size: 15px;
		    font-weight: bold;
			overflow: hidden;
	    	position: relative;
			white-space: nowrap;
	    	text-overflow: ellipsis;
		}
		
		.muk_info {
			height: 65px;
			    
			.muk_info_directories, .muk_info_files {
				display: inline-block;
			    width: 49%;
			    height: 42px;
			    margin-top: 18px;
			    text-align: center;
			    font-size: 20px;
			    padding-top: 5px;
			    background-color: @odoo-brand-lightsecondary;
			    
			    i, span {
			    	vertical-align: middle;
			    }
			    
			    i {
			    	padding-right: 10px;
			    }
			}
		}
	}
}