<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Web Client</h2>
		<h3 class="oe_slogan">Web Client Extension</h3>
		<h4 class="oe_slogan" style="font-size: 23px;">MuK IT GmbH -
			www.mukit.at</h4>
	</div>
</section>

<section class="oe_container" style="padding-top: 25px;">
	<div class="oe_row oe_spaced">
		<div class="oe_picture">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">Extends the Odoo web client to include
				channels. Channels can be created to listen to Odoo bus
				notifications.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="mailto:sale@mukit.at">
			<i class="fa fa-envelope"></i> Email
		</a> <a class="btn btn-primary btn-lg mt8"
			href="https://mukit.at/page/contactus"> <i class="fa fa-phone"></i>
			Contact
		</a>
	</div>
	<img src="logo.png" style="width: 200px; margin-bottom: 20px;"
		class="center-block">
</section>